<div class="user-form-wrapper">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="user-actions">
      <%= f.submit "Sign up", class: "btn btn-grey" %>
    </div>
  <% end %>
<!-- テストユーザーログイン -->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.hidden_field :name, value: "test1"  %>
      <%= f.hidden_field :password, value: "111111" %>
      <div class="user-actions">
        <%= f.submit "テストユーザーとしてログイン", data: { disable_with: "ログイン中..." }, class: "btn btn-grey" %>
      </div>
  <% end %>

</div>



