<div class="row">
	<div class="col-md-6">
		<h2>保存した単語</h2>
		<%= form_with model: @wordbook, local: true do |f|%>
		  <%= f.label :単語 %>
		  <%= @wordbook.word %><br>
		  <%= f.label :意味 %>
		  <%= f.text_field :meaning, value: @wordbook.meaning, size: "50x5" %><br>
		  <%= f.label :語源 %>
		  <%= f.text_area :origin, value: @wordbook.origin, size: "50x5" %><br>
		  <%= f.label :画像 %>
		  <% if @wordbook.my_image.present? %>
		    <%= attachment_image_tag @wordbook, :my_image,  :fill, 150, 100 %><br><br>
			  <% else %>
				<%= image_tag @wordbook.image.word_image %><br>
			<% end %>
				<%= f.label :編集する画像を選択 %>
				<!-- アップロード画像選択 -->
				<%= f.attachment_field :my_image %><br>
		    <% @images.each do |image| %>
		  	  <%= f.radio_button :image_id, image.id %>
		  	  <%= image_tag image.word_image, :size => '70x70'  %>
		    <% end %><br>
		  <%= f.submit "編集", class: "btn btn-default" %>
		<% end %>
	</div>
	<!-- 検索結果を表示 -->
	<div class="col-md-6">
		<h2>検索結果</h2>
		<%= form_with local: true do |f|%>
		  <%= f.label :単語 %>
		  <%= @search_cache.word %><br>
		  <%= f.label :意味 %>
		  <%= f.text_field :meaning, value: @search_cache.definition, size: "50x5", disabled: true %><br>
		  <%= f.label :語源 %>
		  <%= f.text_area :origin, value: @search_cache.origin, size: "50x5", disabled: true %><br>
		  <%= f.label :画像 %>
	      <% @images.each do |image| %>
	    	  <%= image_tag image.word_image, size: '100x100'  %>
	      <% end %>
		<% end %>
	</div>
</div>