<div class="row">
	<div class="col-md-12">
		<h2>MY WORDBOOK</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>単語</th>
					<th>語源</th>
					<th>画像</th>
					<th>意味</th>
					<th>編集・削除</th>
				</tr>
			</thead>
			<tbody>
				<% @wordbooks.each do |wordbook| %>
					<tr>
						<td><%= wordbook.word %></td>
						<td><%= wordbook.origin %></td>
						<% if wordbook.my_image.present? %>
							<td><%= attachment_image_tag wordbook, :my_image, :fill, 150, 100 %></td>
						<% elsif wordbook.image.word_image.present? %>
						  <td><%= image_tag wordbook.image.word_image %></td>
						<% else %>
						  <td><%= image_tag "no_image.jpg" %></td>
						<% end %>
						<td><%= wordbook.meaning %></td>
						<td><%=link_to "編集", edit_wordbook_path(wordbook.id), class: "btn btn-emerald btn-sm" %><br><br>
							<%=link_to "削除", wordbook_path(wordbook.id), class: "btn btn-yellow btn-sm", method: :delete,"data-confirm" => "本当に削除しますか?" %>
						</td>
					</tr>
				<% end %>
				<%= paginate @wordbooks %>
			</tbody>
		</table>
	</div>
</div>