<div class="top">
	<%=form_with model: @search_cache, local: true do |f|%>
git     <% if @search_cache.errors.any? %>
        <div id="error_explanation">
          <h4><%= @search_cache.errors.count %>件のエラーが発生しました。</h4>
          <ul>
          <% @search_cache.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %><br><br>
	  <%= f.text_field :word, placeholder: "英単語を入力 (例：portfolio)", autofocus: true %>
	  <%= f.submit "検索", class: "btn btn-grey" %>
	<% end %>
  <div class="top-title">
   ORIGIN BOOK とは
  </div>
  <div class="top-content">
   名前の由来は、ORIGIN(語源) + WORD BOOK(単語帳) です<br>調べた英単語の「語源」「画像」「意味」を同時に調べることができ、新規登録する事で調べた単語を保存して自分の単語帳を作ることができます
  </div>
  <div class="top-cite">
    また当サイトの語源は<a href="http://gogen-wisdom.hatenablog.com/">「語源の広場」</a>様より引用させて頂いております
  </div>
</div>
