<div class="user-form-wrapper">
  <h2>Log in</h2>
  <%= flash[:alert] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :name%><br /> <p>(サンプル用 name: test1)</p>
      <%= f.text_field :name, autofocus: true, class: "name" %>
    </div>

    <div class="field">
      <%= f.label :password %><br /> <p> (サンプル用 password: 111111)</p>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>


