<p> ようこそ  <%= @user_name %>  さん </p>


<div>
	<%= form_tag(wordbooks_path, method: :post) do %>
	  <%= label_tag :検索したい単語 %><br>
	  <%= text_field_tag :word %>
	  <%= submit_tag "検索" %>
	<% end %>
</div>