<!DOCTYPE html>
<html>
  <head>
    <title>OriginBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
    <header class="main-header navbar navbar-fixed-top navbar-inverse" style="height: 80px; background-color: #5f5f5f;">
      <script src="https://kit.fontawesome.com/f51303c114.js" crossorigin="anonymous"></script>
      <div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-left">
            <!--if文でサインインとアウト時の表示を変更-->
            <li>
              <%= link_to root_path do %>
                <%= image_tag "logo.jpg", id: "logo" %>
              <% end %>
            </li>
            <% if user_signed_in? %>
            <li><%= link_to ' MY WORDBOOK', wordbooks_path %></li>
            <li><%= link_to ' LOGOUT', destroy_user_session_path, method: :delete %></li>
            <li><%= "ようこそ " %><%= current_user.name %><%= " さん"%></li>

            <% else %>
            <li><%= link_to ' SIGNUP', new_user_registration_path %></li>
            <li><%= link_to ' LOGIN', new_user_session_path %></li>
            <li><%= "ようこそゲストさん" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <!--ヘッダーの記述-->
    <div class="main-wrapper container">
      <%= yield %>
    </div>
  </body>
</html>
